 *.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.tipos-musicais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  margin: 0 0 0 4em;

}
.banner-imagem{
    width: 50%;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 16px;
    box-shadow: 7px 7px 0 #002F52;
}
.paragrafo-border{
    color: #fff;
    font-size: 20px;
    padding: 0 4em;
    font-weight: 300;
}
