.principal{
    display: flex;
    flex-direction: column;
   

}
.banner{
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5em;
}
.banner-imagem{
    width: 50%;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 16px;
    box-shadow: 7px 7px 0 #002F52;
}
.paragrafo-border{
    color: #fff;
    font-size: 20px;
    padding: 0 4em;
    font-weight: 300;
}
