@import url(./header.css);
@import url(./banner.css);
@import url(./botoes.css);

:root{
 --background-corpo: linear-gradient(#130949, #261983, #391e94);
 --fonte-corpo: 'Poppins', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background: var(--background-corpo);
    background-repeat: no-repeat;
    font-family: var(--fonte-corpo);
    width: 100vw;
  
}